.l-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 273px;
  height: 100vh;
  padding: var(--space-l) 0 var(--space-l) var(--space-xxl);
  background-color: var(--color-white);
  border: 1px solid var(--color-light);
}

.l-sidebar div,
.l-sidebar a {
  transition: background-color 0.3s ease-in-out;
}

.sidebar-menu {
  flex-grow: 1;
}

.sidebar-menu__text {
  font-size: var(--font-size-l);
}

.sidebar-menu__logo {
  padding-left: var(--space-s);
  margin-bottom: var(--space-m);
}

.sidebar-menu__item {
  padding: var(--space-s);
  border-radius: var(--border-radius);
  display: flex;
  align-items: end;
  gap: var(--space-s);

  &:hover {
    background-color: var(--color-lighter);
  }

  &.active {
    font-weight: var(--font-weight-bold);
  }

  img {
    height: 25px;
    width: 25px;
  }
}